<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <a class="navbar-brand" href="/crear-estudiante">
    <img src="https://img.freepik.com/vector-premium/logo-mascota-dinosaurio-verde_188898-5.jpg?w=2000" alt="Bootstrap" width="50" height="50">
  </a>
  <a class="navbar-brand" href="/crear-estudiante">Dino escuela</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/listar-estudiantes">
          Ver estudiantes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/crear-estudiante">
          Agregar estudiante
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
